//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW5A-LV25MG121NES
//Device: GW5A-25
//Device Version: A
//Created Time: Tue 01 21 18:48:38 2025

IO_LOC "uart_tx_sub" G10;
IO_PORT "uart_tx_sub" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_tx" C3;
IO_PORT "uart_tx" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_array[7]" A11;
IO_PORT "led_array[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_array[6]" A10;
IO_PORT "led_array[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_array[5]" E11;
IO_PORT "led_array[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_array[4]" E10;
IO_PORT "led_array[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_array[3]" K11;
IO_PORT "led_array[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_array[2]" L11;
IO_PORT "led_array[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_array[1]" L5;
IO_PORT "led_array[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_array[0]" K5;
IO_PORT "led_array[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pwm3l" J5;
IO_PORT "pwm3l" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pwm3h" H7;
IO_PORT "pwm3h" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pwm2l" H5;
IO_PORT "pwm2l" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pwm2h" H8;
IO_PORT "pwm2h" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pwm1l" G7;
IO_PORT "pwm1l" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pwm1h" F5;
IO_PORT "pwm1h" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rst" H11;
IO_PORT "rst" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk" E2;
IO_PORT "clk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "enc_a" G5;
IO_PORT "enc_a" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "enc_b" G8;
IO_PORT "enc_b" PULL_MODE=NONE BANK_VCCIO=3.3;
